venv/
.venv/
__pycache__/
*.py[cod]

.git/
.gitignore

.dvc/
.dvcignore

mlruns/
mlflow.db

data/raw/*.csv
data/processed/

logs/
*.log

notebooks/
tests/

*.md
*.ipynb

.vscode/
.idea/

Dockerfile
docker-compose.yml